pool:
  vmImage: 'ubuntu-16.04'

steps:

- script: npm install --only=dev
  displayName: 'Install dev dependencies'

- script: npm install
  displayName: 'Install dependencies'

- script: npm run test:ci
  displayName: 'Tests'

# - script: node ./tools/process-coverage-report.js
#   displayName: 'Clean up coverage report'

- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testRunner: JUnit
    testResultsFiles: './junit.xml'

- task: PublishCodeCoverageResults@1
  inputs: 
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
    reportDirectory: '$(System.DefaultWorkingDirectory)/coverage/'
